<!doctype html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
  <table>
    <tr>
        <th>Date</th>
        <th style="width:30%">Who Did</th>
        <th style="width:30%">Action</th>
    </tr>
    <tr>
      {%for log in logs%}
      <td>{{log.date}}</td>
      <td>{{log.who_did}}</td>
      <td>{{log.action}}</td>
      {%endfor%}
    </tr>
  </table>


      </ul1>
  </div>
</body>
