<!DOCTYPE <!DOCTYPE html>
<html>

<head>
	<title>Appointment Details</title>
	<style type="text/css">
		.container{
			left: 25%;
			top: 25%;
			background-color: #18bc9c;
            border-radius: 8px;
		}




	</style>
</head>

<body>
	<div class="container">
		<label>Your Appointment:</label>
		<br><br>
		<table>
			<tr><td>Date: {{appointment.date}}</td></tr>
			<tr><td>Time: {{appointment.time}}</td></tr>
			<tr><td>Details: {{appointment.details}}</td></tr>
		</table>
	</div>
</body>
</html>