
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>HealthNet</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">




  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HealthNet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form method="POST" action="thankyou/" class="navbar-form navbar-right">
          {%csrf_token%}
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control" name="username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>

              <buttom type="submit" class ="btn btn-success"><a href="{% url 'signup'%}">Sign Up</a></button>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>HealthNet</h1>
        <p>At HealthNet we make it our goal to put patients first through a simple and easy website to provide healthcare for you. With a unique design to promote innovation, we at HealthNet want to provide a user experience like no other.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Our Patients</h2>
          <p>At HealthNet, we strive to improve at all times in order to stay ahead of the curve. In addition to providing an experience like no other, we try to listen to all of our users' feedback so that we can continue to improve.</p>
          <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Leading Healthcare</h2>
          <p>With a staff like no other, HealthNet makes it easy for all users to accomplish what they want, when they want, and how they want by ensuring that the website is as flexible as possible. With a clean and easy to use system, there isn't a wait in handling your healthcare needs.</p>
          <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Doctors</h2>
          <p>Whether it is simply signing off that a patient has arrived, or submitting test results, HealthNet makes it easy for Doctors to stay up to date with the lastest information.</p>
          <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
        </div>
      </div>
      <hr>

      <footer>
        <p>&copy; 2016 Tigers, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>



<!--
<head>

</head>
<body>
--->
<!--
<h1>Hello From index page!</h1>
<ul>
{%for u in users%}
  <li>User name is {{u.user_name}}</li>
  <li>Password is {{u.password}}</li>
{% endfor %}
</ul>
-->
<!--
  @param form_user_name will be used to check the username in the database
  @param orm_password will be used to check for a password  for this username
-->
<!--
<form method="POST" action="sign/">
  {% csrf_token %}
    <input type="text" name="username">
    <button type="submit" class="btn btn-primary">Submit</button>
  <form>
</body>
