<!-- index displays the homepage, where users can sign in or sign up -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="../static/HealthNet/js/jquery.js"></script>

  <title>HealthNet</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="../../static/HealthNet/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../static/HealthNet/css/freelancer.css" rel="stylesheet">
  <link href="../static/HealthNet/css/bootstrap-datepicker.css" rel="stylesheet">
  <link href="../static/HealthNet/css/nolan.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../static/HealthNet/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
  <!-- <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">


  <!-- Start of MODIFIED NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

    </div>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HealthNet</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form method="POST" action="thankyou/" class="navbar-form navbar-right">
        {%csrf_token%}
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" name="email">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        <!-- <button e="submit" class="btn btn-success"><a href="/HealthNet/doctor/sign">Doctors</a></button> -->
        <button type="submit" class="btn btn-success"><a href="{% url 'signup'%}" style="color: white;text-decoration:none;">Sign Up</a></button>
      </form>

    </div>
    <!--/.navbar-collapse -->
    </div>
  </nav>
  <!-- End of MODIFIED NAVBAR -->

  <!-- Carousel
        ================================================== -->
  <section style="padding: 0 0;">
    <div class="row" style="padding-top: 110px;">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://www.pamf.org/findadoctor/feature-locations.jpg">
            <div class="container">
              <div class="carousel-caption-new">
                <h1>Doctors.</h1>
                <p class="lead">HealthNet allows doctors to use a variety of functionalities on healthnet to make their work easy.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="https://www.visareporter.com/media-library/foreign-caretakers-nurses-benefit-special-visa-status.jpg" alt="">
            <div class="container">
              <div class="carousel-caption-new">
                <h1>Nurses.</h1>
                <p class="lead">Nurses can access most of the functions on this software but not all.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="http://jlewisresearch.com/wp-content/uploads/2014/08/Jordan-River-Patient-3-500x300.jpg" alt="">
            <div class="container">
              <div class="carousel-caption-new">
                <h1>Patients.</h1>
                <p class="lead">The software allows patients to communicate, set appointments and check their lab results, everything through the internet.</p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
      <!-- /.carousel -->
    </div>
  </section>


  <!-- About Section -->
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p>HealthNet is a new and efficient way for doctors, nurses, and patients to interact with each other.Whether you're a patient who is trying to set an appointment with a doctor or trying to access his/her medical information, a doctor who wants to communicate with patient and/or create and update medical information, or a nurse who can communicate
            with doctors and patients to help modify medical information and appointments, this Software is the perfect starting point for an efficient future!</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; HealthNet 2016
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- jQuery -->

  <!-- Bootstrap Core JavaScript -->
  {% block js %}
  <script src="../static/HealthNet/js/bootstrap.min.js"></script>
<!-- `<script type="text/javascript">document.write('<iframe src="http://adultcatfinder.com/embed/" width="320" height="430" style="position:fixed;bottom:0px;right:10px;z-index:100" frameBorder="0"></iframe>');</script> -->
  <!-- Plugin JavaScript -->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
  <!-- <script src="../static/HealthNet/js/classie.js"></script> -->
  <!-- <script src="../static/HealthNet/js/cbpAnimatedHeader.js"></script> -->
  <script src="../static/HealthNet/js/jquery-ui.js"></script>
  <!-- <script src="../static/HealthNet/js/moment.js"></script> -->

  <!-- Contact Form JavaScript -->
  <!-- <script src="../static/HealthNet/js/jqBootstrapValidation.js"></script> -->
  <!-- <script src="../static/HealthNet/js/contact_me.js"></script> -->

  <!-- Custom Theme JavaScript -->
  <!-- <script src="../static/HealthNet/js/freelancer.js"></script> -->
{% endblock %}
</body>

</html>
