.profile{
	position: fixed;
	top: 25%;
	color: black;
	background-color: #18bc9c;
	width: 800px;
	border-radius: 8px;
	padding: 20px;
}

.success{
	background-color: white;
	border-radius: 8px;
}

.header{
	top: 50%;
	left: 20%;
	font-size: 30px;
}

input{
	width: 300px;
}